{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Linki{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Linki</h1>
        {% if linki %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Link </th>
                  <th width="40%"> Nazwa </th>
                  <th width="80%"> Data </th>
                </tr>
              </thead>
              <tbody>
              {% for link in linki %}
                <tr>
                  <td> {{ link.linkk }} </td>
                  <td> {{ link.nazwa }} </td>
                  <td> {{ link.data }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Nie ma żadnych linków :( </h3>
            <hr class="intro-divider">
        {% endif %}
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
