{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Kursy{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Kursy</h1>
        {% if kursy %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Nazwa </th>
                  <th width="40%"> Prowadzacy </th>
                </tr>
              </thead>
              <tbody>
              {% for kurs in kursy %}
                <tr>
                  <td> {{ kurs.nazwa }} </td>
                  <td> {{ kurs.prowadzacy }} </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Nie ma żadnych kursów :( </h3>
            <hr class="intro-divider">
        {% endif %}
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
