/* app/static/css/style.css */

body, html {
    margin: 0px 10px;
    width: 95%;
    height: 100%;
    background-color: #fffafb;
}

body {
    color: #2b081a;
}

h1 {
    color: #f77fbe;
}

h2, h3 {
    color: #ff69b4;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}



a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #ff69b4;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #f9429e;
}

footer {
    padding: 50px 20px;
    background-color: #ff69b4;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #f9429e;
    background-color: #ffdae9;
    border-color: #fd6c9e;
}

.btn-default {
    border-color: #ffbcd9;
    color: #ffbcd9;
}

.btn-default:hover {
    background-color: #f77fbe;
}

.center {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #ffdae9;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #ffbcd9;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}


.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    margin: 15px;
    font-size: 14px;
    width: 80%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}
